
<video id="vid" autoplay="autoplay" loop="loop" class="bgwidth" style="display: block;z-index:-1;position: fixed; top: 0px; bottom: 0px; width:100%; height:auto;opacity: 1;">
  <source src="{{randomVidURL}}" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
</video>


<div class="row-fluid">
	<div class="span4 offset6">
		<address class="well" style="opacity: 0.7;">
		<strong>Spencer Sims</strong><br>
		Inglewood CA, 90303<br>
		<abbr title="Phone">P:</abbr> (323) 608-9733
		<a href="mailto:contact@spencersims.com">contact@spencersims.com</a>
		</address>
	</div>
</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="meDetail=!meDetail">Me 
			<span ng-show="meDetail" class="detail">{{me}}</span>
		</h1>
	</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="cvDetail=!cvDetail">CV 
			<span ng-show="cvDetail" class="detail">{{cv}}</span>
		</h1>
	</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="codeDetail=!codeDetail">Code 
			<span ng-show="codeDetail" class="detail">{{code}}</span>
		</h1>
	</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="videoDetail=!videoDetail">Videos 
			<span ng-show="videoDetail" class="detail">{{videos}}</span>
		</h1>
	</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="projectDetail=!projectDetail">Projects 
			<span ng-show="projectDetail" class="detail">{{projects}}</span>
		</h1>
	</div>
	<div class="row-fluid ">
		<h1 class="span3 lguyFont menu" roffset expand ng-click="religionDetail=!religionDetail">Religion  
			<span ng-show="religionDetail" class="detail">{{religion}}</span>
		</h1>
	</div>

